body,
html {
    font-family: Roboto, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*navbar*/
.navbar {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.navbar-brand img {
    width: 200px;
}

.collapse .navbar-nav .nav-item {
    margin-right: 55px;
    color: #C4C4C4;
}

.login h1 {
    font-family: "Pacifico", cursive;
}

.main-header .login .btn {
    background-color: #FF385C;
    color: white;
    padding: 8px 55px;
    border-radius: 100px;
    display: block;
}

@media (min-width: 992px) {
    /*login*/

    .main-header {
        padding: 30px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin-top: 15%;
        margin-left: 25%;
        width: 350px;

    }

    .row .col .ilustrasi {
        width: 350px;
        margin-top: 15%;
    }

    body {
        background-image: url(../img/backgroundlogin.png);
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: bottom left;
        height: 100vh;

    }
}


@media (max-width:768px) {
    .row .col .ilustrasi {
        display: none;
    }

    .main-header {
        padding: 30px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin-top: 30%;
        margin-left: -30%;
        width: 310px;

    }

    .main-header .login .btn {
        background-color: #FF385C;
        color: white;
        width: 250px;
        border-radius: 100px;

    }

    .login h1 {
        font-size: 38px;
        text-align: center;
    }

    body {
        background-image: url(../img/backgroundlogin.png);
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: bottom left;
        height: 100vh;

    }

    .form-group input {
        background-color: transparent;
    }

}
